<?xml version="1.0" encoding="UTF-8"?>
<DataBase>
	<!-- database type -->
	<ServerType>SQL2005</ServerType>
	<!-- factory location -->
	<FactoryAddress>com.accp.cdjj.crazy.electronic_pet.dao.sql2005.SQL2005DB</FactoryAddress>
	<!-- database server location -->
	<ServerAddress>localhost</ServerAddress>
	<!-- database server port -->
	<ServerPort>1433</ServerPort>
	<!-- database name -->
	<ServerName>electronic_petDB</ServerName>
	<!-- database username -->
	<UserName>sa</UserName>
	<!-- database password -->
	<UserPwd>sa</UserPwd>
	<!-- database connection type -->
	<Connection>com.accp.cdjj.crazy.electronic_pet.dao.impl.ConnectionImpl</Connection>
	<!-- database driver -->
	<DriverType>JDBC</DriverType>
	<!-- direct connection set up -->
	<JDBC>
		<Driver>
			<SQL2005>com.microsoft.sqlserver.jdbc.SQLServerDriver</SQL2005>
			<Oracle>oracle.jdbc.driver.OracleDriver</Oracle>
			<MySql>org.gjt.mm.mysql.Driver</MySql>
			<SQL2000>com.microsoft.sqlserver.jdbc.SQLServerDriver</SQL2000>
		</Driver>
		<!-- database connection -->
		<ServerUrl>
			<SQL2005>jdbc:sqlserver://</SQL2005>
			<Oracle>oracle.jdbc.driver.OracleDriver</Oracle>
			<MySql>org.gjt.mm.mysql.Driver</MySql>
			<SQL2000>jdbc:microsoft:sqlserver://</SQL2000>
		</ServerUrl>
	</JDBC>
	<!-- brigde connection -->
	<ODBC>
		<Driver>
		</Driver>
		<ServerUrl>
			
		</ServerUrl>
	</ODBC>
	<JNDI>
		<Driver>
			<SQL2005>jdbc/electronic_petDB</SQL2005>
		</Driver>
		<ServerUrl></ServerUrl>
	</JNDI>
</DataBase>
